      {{>navBar}}

<div class="pd-container">
    <h1>Información detallada</h1>
<div class="product-detail">
    <div class="product-img-title">
        <div class="img-detail">
            <img src="{{this.thumbnail}}" class="img-pdt" alt="...">
        </div>
        <div class="title-detail titlepd">
            <h5 class="">{{this.title}}</h5>
        </div>
    </div>
    <div class="datos">
        <p class="">{{this.description}}</p>
        <p class="">Precio</p>
        <p class="">U$D:{{this.price}}</p>
        <p class="">Stock restante:{{this.stock}}</p>
    </div>
</div>

</div>
<a href="/productos"><button class="btn-pd">volver</button></a>